$color1: seashell;
$color2: rgb(180, 17, 72);
$color3: hotpink;
$color4: #868686;
$color5: #25282c;
$color6: #202020;
$color7: #888;
$color8: rgba(0, 0, 0, 0);
$color9: black;
$color10: #c7338e;
$color11: #fff;
$color12: #202020;
$color13: rgb(214, 200, 200);
$color14: rgba(0, 0, 0, 0.125);
$color15: #212529;
$color16: #d1b9c7;
$color17: #ced4da;
